@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<StudentPortal.web.Models.Entities.Student>

<div class="container-fluid">
	<h1>Student Lists </h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Phone</th>
				<th scope="col">Action</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var student in Model)
			{
				<tr>
					<th scope="row">@student.Id</th>
					<td>@student.Name</td>
					<td>@student.Email</td>
					<td>@student.Phone</td>
					<td>
						<a class="btn btn-primary" asp-controller="Students"
						   asp-action="Edit" asp-route-id="@student.Id">
							Edit
						</a>
					</td>

				</tr>
			}
		</tbody>
	</table>
</div>
